[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROlogit"]
	path = ROlogit
	url = https://github.com/nyilin/rologit
[submodule "cprobit"]
	path = cprobit
	url = https://github.com/nyilin/cprobit
